.text-glow {
  text-shadow: rgba(122, 41, 176, 0.9) 0px 0px 39px;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.ticket-bg {
  background: var(
    --ticket-bg-color,
    linear-gradient(90deg, #000, #fff)
  ); /* 기본값은 검정색 */
  border-radius: 10px;
}
